<div style="text-align: center; ">
<h1><%= @rest[0][:name] %></h1>
<%= image_tag(@rest[0][:image_url][:shop_image1].presence || '/files/images/noimage.png') %>
<p>住所: <%= @rest[0][:address] %></p>
<p>電話番号: <%= @rest[0][:tel] %></p>
<p>営業時間: <%== @rest[0][:opentime].presence || "店舗にお問い合わせください" %></p>
</div>